# -*- mode: conf -*-

[MASTER]
# Use multiple processes to speed up Pylint.
jobs=4

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=pylint.extensions.check_elif,
             pylint.extensions.comparetozero,
             pylint.extensions.emptystring,
             pylint.extensions.overlapping_exceptions,
             pylint.extensions.redefined_variable_type,


[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
enable=all

# Disable the message, report, category or checker with the given id(s).
# Disabling the docstring, indentation, formatting, and naming convention checks,
#  as those are better performed by either flake8 or pydocstyle
disable=missing-docstring,
        bad-whitespace,
        bad-continuation,
        line-too-long,
        superfluous-parens,
        invalid-name,
        duplicate-argument-name,
        unused-variable,
        redefined-variable-type


[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, json
# and msvs (visual studio).You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
output-format=colorized
