[host]
hostname = irc.dereferenced.org
port = 6667
ssl = false
oper = x x
# Modes to set on connect (optional)
#modes = +s +c
nickname = antissh
kline_cmd = KLINE 86400 *@{ip} :Vulnerable SSH daemon found on this host.  Please fix your SSH daemon and try again later.
# Server password, if any
#password =
# Log when vulnerable hosts are found to this channel
#log_chan = #antissh-log
#log_chan_key = yourkeyhere

[target]
ip = 162.220.112.99
port = 6667
# If enabled, skips trying to connect back to the target host above and ban clients as soon as a SSH login with default credentials succeeds
#quick_mode = true
# Bind host used to connect to other hosts
#bindhost = ::

# report to various DNSBLs
[dnsbl]
# ask for an RPC key from DroneBL at: https://www.dronebl.org/rpckey_signup
# dronebl_key=rgergjkergnjkergjkernjkgergnjke

# ask for an API key from DNSBL.im at: https://www.dnsbl.im/api/request/
# dnsbl_im_key=bvefrkjbggnergnjkerngjkerngjker

# change scan settings
[scan]
# 1 = most common login combinations
# 2 = somewhat common login combinations
# 3 = rare login combinations
level = 1

[geoip]
# Download binary database from https://dev.maxmind.com/geoip/geoip2/geolite2/
#database_path=/path/to/GeoLite2-Country_20180703/GeoLite2-Country.mmdb
# ISO 3166 country codes separated by spaces, see https://en.wikipedia.org/wiki/ISO_3166-2
#country_whitelist=DE AT CH FR GB NL US CA
