[host]
hostname = irc.dereferenced.org
port = 6667
ssl = false
oper = x x
modes = +s +c
nickname = antissh
kline_cmd = KLINE 86400 *@{ip} :Vulnerable SSH daemon found on this host.  Please fix your SSH daemon and try again later.

[target]
ip = 162.220.112.99
port = 6667
